name: Train and test
on: # Here we use two triggers: manually and daily at 08:00
  workflow_dispatch:
jobs:
  launch-runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: iterative/setup-cml@v1
      - name: Deploy runner on EC2
        env:
          REPO_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cml runner \
              --cloud=aws \
              --cloud-region=eu-west \
              --cloud-type=t2.micro \
              --labels=cml-runner \
              --single
  train-and-report:
    runs-on: [self-hosted, cml-runner]
    needs: launch-runner
    timeout-minutes: 20
    container: docker://iterativeai/cml:0-dvc2-base1
    steps:
      - uses: actions/checkout@v3
      - name: Train and Report
        env:
          REPO_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          cml ci
          pip install -r requirements.txt
          
          dvc repro
          dvc push

          # Commit the model DVC file
          git add dvc.lock
          git commit -m "Add trained model"

          # Fetch metrics from main branch
          git fetch --depth=1 origin main:main

          echo "Metrics: workspace vs. main" > report.md
          dvc metrics diff main --no-path --md >> report.md
          echo '![](.confusion_matrix.png "Confusion Matrix")' >> report.md

          git add report.md
          git commit -m 'Add report'

          # Push the changes to the current branch
          git push origin HEAD

          # Add CML comment with the report
          cml comment update report.md